<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player_character.name %>
</p>

<p>
  <strong>Main stats:</strong>
  <%= @player_character.main_stats %>
</p>

<p>
  <strong>Proficiency:</strong>
  <%= @player_character.proficiency %>
</p>

<p>
  <strong>Saving throws:</strong>
  <%= @player_character.saving_throws %>
</p>

<%= link_to 'Edit', edit_player_character_path(@player_character) %> |
<%= link_to 'Back', player_characters_path %>
