<p id="notice"><%= notice %></p>

<h1>Main Stats Arrays</h1>

<table>
  <thead>
    <tr>
      <th>Strength</th>
      <th>Dexterity</th>
      <th>Constitution</th>
      <th>Intelligence</th>
      <th>Wisdom</th>
      <th>Charisma</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @main_stats_arrays.each do |main_stats_array| %>
      <tr>
        <td><%= main_stats_array.strength %></td>
        <td><%= main_stats_array.dexterity %></td>
        <td><%= main_stats_array.constitution %></td>
        <td><%= main_stats_array.intelligence %></td>
        <td><%= main_stats_array.wisdom %></td>
        <td><%= main_stats_array.charisma %></td>
        <td><%= link_to 'Show', main_stats_array %></td>
        <td><%= link_to 'Edit', edit_main_stats_array_path(main_stats_array) %></td>
        <td><%= link_to 'Destroy', main_stats_array, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Main Stats Array', new_main_stats_array_path %>
