<p id="notice"><%= notice %></p>

<p>
  <strong>Strength:</strong>
  <%= @main_stats_array.strength %>
</p>

<p>
  <strong>Dexterity:</strong>
  <%= @main_stats_array.dexterity %>
</p>

<p>
  <strong>Constitution:</strong>
  <%= @main_stats_array.constitution %>
</p>

<p>
  <strong>Intelligence:</strong>
  <%= @main_stats_array.intelligence %>
</p>

<p>
  <strong>Wisdom:</strong>
  <%= @main_stats_array.wisdom %>
</p>

<p>
  <strong>Charisma:</strong>
  <%= @main_stats_array.charisma %>
</p>

<%= link_to 'Edit', edit_main_stats_array_path(@main_stats_array) %> |
<%= link_to 'Back', main_stats_arrays_path %>
